<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>319345491547-i0tohuaf873mqrpbqb2t1g9h1vehhs69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319345491547-i0tohuaf873mqrpbqb2t1g9h1vehhs69</string>
	<key>API_KEY</key>
	<string>AIzaSyCqiKDQ0lTNPJ3vshkWEmyfbIfV171njZI</string>
	<key>GCM_SENDER_ID</key>
	<string>319345491547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chisin.ReciBeeProject</string>
	<key>PROJECT_ID</key>
	<string>recibee-3bdb5</string>
	<key>STORAGE_BUCKET</key>
	<string>recibee-3bdb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:319345491547:ios:9c7b20dc6aba8d3a</string>
	<key>DATABASE_URL</key>
	<string>https://recibee-3bdb5.firebaseio.com</string>
</dict>
</plist>